body {
    padding-top: 90px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default{
    background-color: #ffffff;
    font-size: 2.5rem;
}
